.card-container {
  width: 300px;
  height: 400px;
  position: relative;
  border: 2px solid #ff3d09;
  background-color: #f8f4f1;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-container:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.card {
  list-style: none;
}

.card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #ff3d09;
}

.card-container {
  padding: 20px;
  text-align: center;
}
a {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.2em;
}

.card-title {
  font-style: normal;
  color: #ff3d09;
  margin: 10px 0;
}

.card-servings,
.card-calories {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
}

.update-btn,
.close-btn {
  position: absolute;
  top: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.update-btn {
  left: 10px;
  border: 2px solid #181717;
  color: #181717;
  background-color: #faf3e0;
}

.update-btn:hover {
  background-color: #ff6a39;
  color: #fff;
  transform: scale(1.1);
}

.close-btn {
  right: 10px;
  border: 2px solid #ff4c4c;
  color: #ff4c4c;
  background-color: #faf3e0;
}

.close-btn:hover {
  background-color: #ff4c4c;
  color: #fff;
  transform: scale(1.1);
}
