.dashboard-container-on {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  min-height: 600px;
  margin-bottom: 50px;
  top:0px;
}
.dashboard-container-off {
  position: relative;
  width: 100%;
  transform: translateX(-115px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  min-height: 600px;
  margin-bottom: 50px;
  top:0px;
}
.title-container {
  width: 100%;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.7em;
  margin: 30px auto;
  color: #ff3d09;
}
