.footer {
  background-color: #6a0606;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto; /* el footer se va al fondo si hay poco contenido*/
}

.footer-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  a{
    text-decoration: none;
    color: white;
    font-size: 1em;
  }
}

#logo {
  height: 80px;
  padding: 10px;
}

