.menu-btn{
    background-image: url(../assets/menu-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    left: 50px;
    cursor:pointer;  /* when we go with the cursor on the button, a "hand" appears, showing the button is clickable */
}
.menu-btn:hover{
    opacity: 0.5;  /* when we go with the cursor on the button, the button is clearer */
}
