#sidebar {
  height: auto;
  width: auto;
  color: #6a0606;
  background-color: #f8f4f1;
}

.sidebar-ul {
  padding: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
   text-decoration: none;
   margin: 20px;
   font-family: "Outfit", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;

  li {
    font-size: 1.5em;
    padding: 20px 20px 5px 20px;
    width: 100%;
   
  


    a {
      text-decoration: none;
      color: #ff3d09;
    }
  }
  .active {
    color: #6a0606;
  }
}
